/* This is my style sheet for my naviagtion bar*/
/*This section creates the navigation bar */
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #c90;
}
li{
   float: left;
}
li a{
   display: block;
   color: #006;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
/*This section creates the dropdown function */
li a:hover, .dropdown:hover{
   background-color: #ffffef;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffef; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
color: #006;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #c90;}
.dropdown:hover .dropdown-content{
    display: block;
}