/*navigation bar*/
.header{
    background-color:#c90;
    /*box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
    font-family: calibri;
    position:fixed;
    width:100%;
    z-index:3;
}
.header ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    background-color:#c90;
}

.header ul a{
    display:block;
    padding:20px;
    text-decoration: none;
    /*border-right: 1px solid #aaa;*/
}
.header .logo{
    float: left;
    display: block;
    font-size:2em;
    padding:10px 20px;
}
.header ul a:hover{
    background-color: #ffffef;
}
.header .menu{
    clear:both;
    max-height:0;
    transition:max-height .2s ease-out;
}
.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.header .menu-icon .nav-icon{
    background:#333;
    display:block;
    height:2px;
    width:18px;
    position:relative;
    transition:background .2s ease-out;
}
.header .menu-icon .nav-icon:before {
    background:#333;
    content:"";
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    transition:background .2s ease-out;
    top:5px;
}
.header .menu-icon .nav-icon:after {
    background:#333;
    content:"";
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    transition:background .2s ease-out;
    top:-5px;
}
.header .menu-btn{
    display:none;
}
.header .menu-btn:checked ~.menu{
    max-height:240px;
}
.header .menu-btn:checked ~.menu-icon .nav-icon{
    background:transparent;
}
.header .menu-btn:checked ~.menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top:0;
}
.header .menu-btn:checked ~.menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top:0;
}
@media (min-width:48em) {
    .header li{
        float: left;
    }
    .header li a{
        padding:20px 30px;
    }
    .header .menu{
        clear:none;
        float:right;
        max-height:none;

    }
    .header .menu-icon{
        display:none;
    }
    
}
/* dropdown section */
.header .dropdown-content {
    display:none;
    position: absolute;
    background-color: #ffffef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header .dropdown-content a:hover {background-color: #c90;}
    .dropdown:hover .dropdown-content{
        display: block;
    }
.header .dropdown-content a{
    color:#006;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
    text-align:left;
}