/* This is my style sheet for my naviagtion bar*/
ul li {
display: inline-block;
border: 3px dotted #006;
width: 150px;
list-style-type: none;
padding: 15px 15px 15px 25px;
margin-top: 0;
margin-left: 200px;
}