/* This is my style sheet*/
/*html {
    background-color:  #000066;
}*/
body{
    font-family: calibri;
    font-size: 100%;
    width:700px;
    background-color: #ffffef;
    margin: 15px auto;
    padding: 15px 1.5em;
}
h1 {
    color: #c90;
    text-align: center;
    }
h2 {
    color: #c90;
}
p{
    color: #006;
}
footer{
    margin-top: 2em;
    border-top: 2px solid #c90;
    padding-top: .7em;
    text-align: center;
}
#div{
    text-indent: 50px;
}
img {
    grid-column-start: 3;
    grid-column-end: 4;
    max-width: 100%;
    height: auto;
    float: right;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 5fr 20fr 5fr;
    grid-gap: 10px;
    height: 720px;
}
header {
    grid-column-start: 1;
    grid-column-end: 4;
}
nav{
    grid-column-start: 1;
    grid-column-end: 4;
}
footer {
    grid-column-start: 1;
    grid-column-end: 4;
}
/*img {
   grid-column-start: 3;
   grid-column-end: 4;
}*/
main {
    grid-column-start: 2;
    grid-column-end: 3;
}
@media screen and (max-width: 800px){
    .left, .main, .right{
        width: 100%;
    }
}
